{#
/**
 * Template para a aplicação Apptemplates
 *
 *
 * @file
 * @author Adriano Vieira <adriano.svieira at gmail.com>
 * @package Apptemplate
 * @subpackage base
 * @license @see LICENCE
 */
#}

{% extends "views/rapps-base.twig" %}

{% if app_name is not defined %}
  {% set app_name = 'Catálogo de Serviços' %}
  {% set app_title = app_name %}
{% endif %}

{% block RAPPS_Ativa_title %}
  <h1 class="fa {{ aplicativo.logotype|default('fa-tags') }}">
    {{ app_name | default('Painel de aplicativos disponibilizados')}}
    <small>{{app_title | default('')}}</small>
  </h1>
{% endblock %}

{% block content %}

  {#% block apptemplate %}{% endblock %#}

{% endblock %}

{% block menu %}
  {% if not app.apps_config.environment.production %}
    <li class="treeview">
      <a ><i class="fa fa-archive"></i> <span>Cadastro</span> <i class="{{ apps_menu_treeview_class|default('') }}"></i></a>
      <ul class="treeview-menu">
        <li class="{% if not is_granted('ROLE_ADMIN') %}text-danger disabled{% endif %}">
          <a class="{% if not is_granted('ROLE_ADMIN') %} disabled{% endif %}"
            href="{{ path('apptemplate') }}">
            <span {% if not is_granted('ROLE_ADMIN') %}class="text-danger disabled"{% endif %}>
            Serviços</span>
          </a>
        </li>
      </ul>
    </li>

  {% endif %}


{% endblock menu %}

{% block rapps_include_javascripts %}
<!-- Apptemplate scripts -->
<script type="text/javascript" src="{{ app.request.basepath }}/js/apptemplate.main.controller.js"></script>
<!-- /end Apptemplate scripts -->
{% endblock %}
