{% extends "views/rapps-base.twig" %}

{% block login %}

{% if username_minlen is not defined  %}
  {% set username_minlen = 5 %}
{%endif%}

{% if password_minlen is not defined  %}
  {% set password_minlen = 5 %}
{%endif%}
<div class="login-box login-box-body form-group">
  <center>
    <i class="login_logo"></i>
    <h5>Acesso ao painel de aplicativos.RAPPS</h5>
  </center>
  <form style="display:inline" method="post" action="{{ path('admin_login_check') }}" name="frmlogin">
    <div class="form-group">
      <label>Usuário</label>
      <input type="text" name="_username" value="{{ last_username }}"
        class="form-control"
        placeholder="nome de usuário (mínimo {{username_minlen}} caracteres)"
        ng-init="_username='{{last_username}}'"
        ng-model="_username"
        ng-minlength="{{username_minlen}}"
        ng-init=''
        ng-class="{'has-error': frmlogin._username.$valid}"
        ng-trim="true"
        ng-required="true"
        />
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input type="password" name="_password" value=""
        class="form-control"
        placeholder="senha do usuário (mínimo {{password_minlen}} caracteres)"
        ng-model="_password"
        ng-minlength="{{password_minlen}}"
        ng-init=''
        ng-class="{'has-error': frmlogin._password.$valid}"
        ng-required="true"
        />
    </div>
    <br />
    <div class="form-group">
      <button type="submit" id="btnlogin" name="login"
        class="btn btn-primary"
        ng-disabled="!frmlogin.$valid">
        Acessar o painel
      </button>
    </div>

    <div class="help-block has-error" >
      {% if error %} {# se há erros no login (mensagem padrão silex)#}
        Usuário ou senha inválidos (<i>{{ error }}</i>)!
      {% endif %}
    </div>
  </form>
</div>

{% endblock %}
