<!DOCTYPE html>
<html lang="pt-br" ng-app="rapps">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>RAPPS{% block RAPPS_Ativa %}{% endblock %}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- CSS Base do Bootstrap -->
  <link href="{{ cdn_server_url() }}/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="{{ cdn_server_url() }}/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet">
  <link href="{{ cdn_server_url() }}/bootstrap/dist/css/bootstrap-theme.min.css"  rel="stylesheet">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ cdn_server_url() }}/font-awesome/css/font-awesome.min.css">
  <!-- AdminLTE Theme style and Skins (blue)-->
  <link rel="stylesheet" href="{{ app.request.basepath }}/idvisual/AdminLTE/css/AdminLTE.min.css">
  <link rel="stylesheet" href="{{ app.request.basepath }}/idvisual/AdminLTE/css/skins/skin-blue.min.css">

  <!-- CSS específico para a aplicação -->
  <link href="{{ app.request.basepath }}/css/app.css" rel="stylesheet" type="text/css" />

</head>
<body class="hold-transition skin-blue sidebar-mini {#sidebar-collapse#}" role="document" ng-controller="MainController as rapps">

<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <div class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>R</b>apps</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>R</b>apps<a> by TCT</a></span>
    </div>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu" ng-show="rapps.has_messages">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                        {#<!--img src="{{ app.user_nickname }}.jpg" class="img-circle" alt="User Image" -->#}
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <!-- The message -->
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- /.messages-menu -->

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu" ng-show="rapps.has_notifications">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks Menu -->
          <li class="dropdown tasks-menu" ng-show="rapps.has_tasks">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- Inner menu: contains the tasks -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu" ng-show="{%if is_granted('IS_AUTHENTICATED_FULLY')%} true {%endif%}">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              {#<!-- img src="{{ app.user_nickname }}.jpg" class="user-image" alt="User Image" -->#}
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{ app.user_nickname }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                {#<!--img src="{{ app.user_nickname }}.jpg" class="img-circle" alt="User Image" -->#}
                <p>
                  {{ app.user_name }}
                  <small>{{ app.user_perfil }}/{{ app.user_lotacao }}</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body" ng-show="rapps.has_user_body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left" ng-show="rapps.has_user_profile">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="{{ path('admin_logout') }}"
                    class="btn btn-danger btn-flat">
                    Sair
                    <i class="fa fa-sign-out"></i>
                  </a>
                </div>
              </li>
            </ul>
          </li>
          <li ng-show="{%if not is_granted('IS_AUTHENTICATED_FULLY')%} true {%endif%}">
              <a href="{{ path('login') }}">
                <i class="fa fa-sign-in"></i>
                Entrar
              </a>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li ng-show="rapps.has_user_activities || rapps.has_user_stats || rapps.has_user_settings">
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel" ng-show='rapps.has_user_photo'>
        <div class="pull-left image">
          {# <!--resolver como colocar imagem-->
            <img src="{{ app.user_nickname }}.jpg" class="img-circle" alt="User Image">
          #}
          <h4><span class="fa fa-user text text-warning"></span></h4>
        </div>
        <div class="pull-left info">
          <p>{{ app.user_name }}</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form" ng-show="rapps.has_search_field">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        {#<li class="header">HEADER</li>#}
        <!-- Optionally, you can add icons to the links -->

        <li {#class="active"#}><a href="{{ path('homepage') }}"><i class="fa fa-dashboard"></i> <span>Início</span></a></li>

        {# menu panel for applications #}
        {% set apps_menu_treeview_class = 'fa fa-angle-left pull-right' %}
        {% block menu %}{% endblock menu %}
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      {% block RAPPS_Ativa_title %}{% endblock %}
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      {% block content %}{% endblock %}

      <!-- Your Page Login Here -->
      {%if not is_granted('IS_AUTHENTICATED_FULLY')%}
        {% block login %}{% endblock %}
      {% endif %}

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      <span><strong>Copyright &copy; 2015-2016 <a >TCT</a>.</strong> All rights reserved.</span>
    </div>

    {% embed 'themes/AdminLTE/footer.twig' %}{% endembed %}

  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark" ng-show="rapps.has_user_activities || rapps.has_user_stats || rapps.has_user_settings">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active" ng-show="rapps.has_user_activities"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li ng-class="{'active': (!rapps.has_user_activities)}" ng-show="rapps.has_user_stats"><a href="#control-sidebar-stats-tab" data-toggle="tab"><i class="fa fa-area-chart"></i></a></li>
      <li ng-class="{'active': (!rapps.has_user_activities && !rapps.has_user_stats)}" ng-show="rapps.has_user_settings"><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab" ng-show="rapps.has_user_activities">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript::;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab" ng-show="rapps.has_user_stats" ng-class="{'active': (!rapps.has_user_activities)}">
        Stats Tab Content
        <h3 class="control-sidebar-heading">General Stats</h3>

        <div class="menu-info">
          <h4 class="control-sidebar-subheading">User general stats</h4>

          <p>foo infos</p>
        </div>
      </div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab" ng-show="rapps.has_user_settings" ng-class="{'active': (!rapps.has_user_activities && !rapps.has_user_stats)}">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->
<!-- Arquivos javascript -->
<script src="{{ cdn_server_url() }}/angular/angular.min.js" type="text/javascript"></script>
<script src="{{ cdn_server_url() }}/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="{{ cdn_server_url() }}/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>

<!-- Menus -->
</script>
<script src="{{ cdn_server_url() }}/smartmenus/dist/jquery.smartmenus.min.js" type="text/javascript"></script>
<script src="{{ cdn_server_url() }}/smartmenus/dist/addons/bootstrap/jquery.smartmenus.bootstrap.min.js" type="text/javascript"></script>
<script src="{{ cdn_server_url() }}/smartmenus/dist/addons/keyboard/jquery.smartmenus.keyboard.min.js" type="text/javascript"></script>

<!-- AdminLTE App -->
<script src="{{ app.request.basepath }}/idvisual/AdminLTE/js/app.min.js"></script>

<!-- RApps scripts -->
<script type="text/javascript" src="{{ app.request.basepath }}/js/rapps.main.js"></script>
{% block rapps_include_javascripts %}{% endblock %}

</body>
</html>
