{% block footer_info_help %}

    <!-- Default to the left -->
    <div class="dropup">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              ng-click='info=true;help=false;'>
        <span class="fa fa-info-circle"></span>
        Info
      </button>

      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownHelp" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              ng-click='help=true;info=false;'>
        <span class="fa fa-question-circle"></span>
        Ajuda
      </button>

      <ul class="dropdown-menu" aria-labelledby="dropdownHelp" ng-show="help">
        <li>
          <p>Para solicitar ajuda para operar o sistema, <br/>ligue:</p>
          <b>Central de Serviços:</b>
        </li>
        <li><a >X XXX XXX XXXX</a></li>
        <li class="disabled"><a>clique aqui para abrir chamado (<i>open modal popup</i>)</a></li>
      </ul>

      <ul class="dropdown-menu" aria-labelledby="dropdownInfo" ng-show="info">
        <li>
          <div>
            <table class="table table-condensed">
              <tbody>
                <tr>
                  <th>Ambiente: </th>
                  <td>{{ app.apps_config.environment.type }}
                      <i>
                        {% if app.apps_config.environment.production %}
                            <br />(em ambiente produtivo)
                        {% endif %}
                        {% if app.info_data.environment.server %}
                          <ul class="list-unstyled">
                            <li>servidor: {{app.info_data.environment.server}}</li>
                            <li>meu IP: {{app.info_data.environment.my_ip}}</li>
                            <li>meu navegador: {{app.info_data.environment.browser}}</li>
                            <li>rapps ativa: {{app_name | default('Painel')}}</li>
                          </ul>
                        {% endif %}
                      </i>
                  </td>
                </tr>
                <tr><td><strong>Versão: </strong></td><td>{{ app.info_data.version }}</td></tr>
                <tr><td><strong>Data do Build: </strong></td><td>{{ app.info_data.build }}</td></tr>
              </tbody>
            </table>
          </div>
        </li>
      </ul>
    </div>

{% endblock %}
