{% block apps_error %}
  {% if code == 403 %}
    <a href="{{ path('homepage') }}">
      <span class="fa fa-arrow-circle-o-left" aria-hidden="true" title="Voltar"> Início</span>
    </a>
    <div class="alert alert-danger" role="alert">
      <span class="fa fa-close" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      {{ app.user_name }} {{ app.user_nickname }}, sem permissão de acesso a esta função.
    </div>
  {% endif %}

  {% if debug|default(false) %}
    <div ng-show="{{debug}}">
      <pre>{{error}}</pre>
    </div>
  {% endif %}
{% endblock %}
