{% extends "views/rapps-base.twig" %}

{% block RAPPS_Ativa %}{% endblock %}
{% block RAPPS_Ativa_title %}
{%if not is_granted('IS_AUTHENTICATED_FULLY')%}
  {%if app_name is not defined%}
    {%set app_name = 'Painel de aplicativos públicos disponibilizados'%}
  {%endif%}
{% endif %}

<h1>
  {{ app_name | default('Painel de aplicativos disponibilizados')}}
  <small>{{app_title | default('')}}</small>
</h1>
{% endblock %}

{% block content %}
        <div class="rapps-painel_aplicativos">
          <ul class="media-list">
            {% for aplicativo in aplicativos %}
              {% if aplicativo.is_active %}
              <li class="bg-light-blue-gradient">
                <a {% if aplicativo.route %} href="{{ path(aplicativo.route) }}" {% endif %}>
                  <div class="small-box">
                    <div class="inner">
                      <h4 class="lead">
                        <i class="fa {{ aplicativo.logotype|default('fa-wrench') }}"></i>
                        {{ aplicativo.name|default('Aplicativo de referência da RAPPS') }}
                      </h4>
                      <p>{{ aplicativo.title|default('Aplicativo de referência da RAPPS') }}</p>
                    </div>
                    <div class="icon">
                      <i class="fa {{ aplicativo.logotype|default('fa-wrench') }}"></i>
                    </div>
                    {% if aplicativo.route %}
                    <div class="small-box-footer">
                      Acessar
                      <i class="fa fa-arrow-circle-right"></i>
                    </div>
                    {% endif %}
                  </div>
                </a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div> <!-- row -->
{% endblock %}
