{% extends "views/rapps-base.twig" %}

{% if app_name is not defined %}
  {% set app_name = 'Configurações da RAPPS' %}
  {% set app_title = 'Painel de Configurações da RAPPS' %}
{% endif %}

{% block RAPPS_Ativa %}::{{app_name}}{% endblock %}
{% block RAPPS_Ativa_title %}
  <h1 class="fa {{ aplicativo.logotype|default('fa-gears') }}">
    {{ app_name | default('Painel de aplicativos disponibilizados')}}
    <small>{{app_title | default('')}}</small>
  </h1>
{% endblock %}

{% block content %}


  {% block admin %}{% endblock %}

{% endblock %}

{% block menu %}
    <li class="treeview">
      <a href="#"><i class="fa fa-archive"></i> <span>Cadastro</span> <i class="{{ apps_menu_treeview_class|default('') }}"></i></a>
      <ul class="treeview-menu">
        <li class="{% if not is_granted('ROLE_ADMIN') %}text-danger disabled{% endif %}">
          <a class="{% if not is_granted('ROLE_ADMIN') %} disabled{% endif %}"
            href="{{ path('aplicativos') }}">
            <span {% if not is_granted('ROLE_ADMIN') %}class="text-danger disabled"{% endif %}>
            Aplicações RAPPS</span>
          </a>
        </li>
      </ul>
    </li>

    {% if not app.apps_config.environment.production %}
    <li role="presentation" class="treeview">
      <a href="#"><i class="fa fa-gears"></i> <span>Administração</span> <i class="{{ apps_menu_treeview_class|default('') }}"></i></a>
      <ul class="treeview-menu">
        <li role="presentation" class="dropdown {% if not is_granted('ROLE_ADMIN') %}text-danger disabled{% endif %}">
          <a href="{{ path('users') }}"
             role="button"
             class="fa fa-gavel dropdown-toggle {% if not is_granted('ROLE_ADMIN') %}disabled{% endif %}">
              <span {% if not is_granted('ROLE_ADMIN') %}class="disabled"{% endif %}>
                Usuários
              </span>
          </a>
        </li>
        <li role="presentation" class="dropdown {% if not is_granted('ROLE_ADMIN') %}text-danger disabled{% endif %}">
          <a role="button"
             class="fa fa-gavel dropdown-toggle {% if not is_granted('ROLE_ADMIN') %}disabled{% endif %}"
              {#href="{{ path('groups') }}"#}>
              <span {% if not is_granted('ROLE_ADMIN') %}class="disabled"{% endif %}>
              Grupos</span>
          </a>
        </li>
        <li role="presentation" class="dropdown {% if not is_granted('ROLE_ADMIN') %}text-danger disabled{% endif %}">
          <a role="button"
             class="fa fa-gavel dropdown-toggle {% if not is_granted('ROLE_ADMIN') %}disabled{% endif %}"
              {#href="{{ path('group_members') }}"#}>
              <span {% if not is_granted('ROLE_ADMIN') %}class="disabled"{% endif %}>
              Membros de Grupos</span>
          </a>
        </li>
        <li class="{% if not is_granted('ROLE_ADMIN') %}text-danger disabled{% endif %}">
          <a role="button"
             class="fa fa-gavel {% if not is_granted('ROLE_ADMIN') %}disabled{% endif %}"
              {% if is_granted('ROLE_ADMIN') %}href="{{ path('setup') }}"{% endif %}>
              <span {% if not is_granted('ROLE_ADMIN') %}class="text-danger disabled"{% endif %}>
              Parâmetros base</span>
          </a>
        </li>
      </ul>
    </li>
    {% endif %}
{% endblock menu %}

{% block rapps_include_javascripts %}
<!-- RApps - AdminAplicativos -->
<script type="text/javascript" src="{{ app.request.basepath }}/js/rapps.admin.aplicativos.controller.js"></script>
<script type="text/javascript" src="{{ app.request.basepath }}/js/rapps-admin-aplicativos-valid-logotipo-file.directive.js"></script>
{% endblock %}
