{% extends 'Admin/views/rapps-admin.twig' %}

{% block admin %}

  <div class="form-horizontal row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <h3>Parâmetros base</h3>

			{{ form_start(form) }}
			    {{ form_errors(form) }}

			    <div>
			        {{ form_label(form.username_minlen) }}
			        {{ form_errors(form.username_minlen) }}
			        {{ form_widget(form.username_minlen) }}
			    </div>

			    <div>
			        {{ form_label(form.password_minlen) }}
			        {{ form_errors(form.password_minlen) }}
			        {{ form_widget(form.password_minlen) }}
			    </div>

					<div>
			        {{ form_label(form.ldap_fallback_server_down) }}
			        {{ form_errors(form.ldap_fallback_server_down) }}
			        {{ form_widget(form.ldap_fallback_server_down) }}
			    </div>

			    <div>
			        {{ form_widget(form.submit) }}
							{#{ form_widget(form.reset) }#}
							{#<small class="text-red" ng-show="form.$error.required">
						      Todos os campos são obrigatórios
						  </small>#}

			    </div>

			{{ form_end(form) }}

     </div>
  </div>

  <!--
  <tt>value = {{'{{username_minlen.value}}'}}</tt><br/>
  <tt>form.input.$valid = {{'{{form.form[username_minlen].$valid}}'}}</tt><br/>
  <tt>form.input.$error = {{'{{form.form[username_minlen].$error}}'}}</tt><br/>
  <tt>form.$valid = {{'{{form.$valid}}'}}</tt><br/>
  <tt>form.$error.required = {{'{{!!form.$error.required}}'}}</tt><br/>
  -->

{% endblock %}
