{#
/**
 * Template para a módulo Rapps\Aplicativos
 *
 * @file
 * @author Adriano Vieira <adriano.svieira at gmail.com>
 * @package Rapps
 * @subpackage Aplicativos
 * @license @see LICENCE
 */
#}
{% extends 'Admin/views/rapps-admin.twig' %}

{% block admin %}
<ctrlApps ng-controller='AdminAplicativosController as adminAplicativos'>

  <!-- painel de listagem de aplicativos -->
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Aplicações Registradas</h3>

      <div class="box-tools pull-right">

        {#<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>#}
        <div class="has-feedback">
          <input type="text" ng-model="searchText" class="form-control input-sm" placeholder="filtrar (min 3 caracters)" title="filtrar (min 3 caracters)" ng-minlength= '3'>
          <span class="fa fa-search form-control-feedback"></span>
        </div>
      </div> {#<!-- /.box-tools -->#}
    </div> {#<!-- /.box-header -->#}

    <div class="box-footer clearfix">
      <span class="btn btn-sm btn-info btn-flat pull-left"
        data-toggle="modal"
        data-target="#modalAplicativos"
        ng-click="adminAplicativos.initAppsAddForm()"
      >
        <i class="fa fa-plus"></i> Adiciona novo aplicativo
      </span>
      <span class="btn btn-sm btn-default btn-flat pull-right" ng-disabled="true">
        <i class="fa fa-print" data-toggle="tooltip" data-placement="auto top" title="Imprimir"></i>
      </span>
    </div>

    <div class="box-body">
      <div class="">

        <span class="pull-right" ng-show="results.length>15">Há <b>{{'{{results.length}}'}}/{{'{{adminAplicativos.aplicativos.length}}'}}</b> aplicativos na lista atual</span>
        <table ng-init="adminAplicativos.getAppsDataLista()" class='table table-responsive table-condensed table-hover no-margin'>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Habilitada</th>
              <th>Ações</th>
            </tr>
          </thead>

          <tbody ng-init="adminAplicativos.v_apps.id='';adminAplicativos.v_apps.name='';">

            <tr ng-repeat="aplicativo in adminAplicativos.aplicativos | filter:searchText as results">
              <td>{{'{{ aplicativo.app_id }}'}}</td>
              <td>{{'{{ aplicativo.name }}'}}</td>
              <td><span ng-if="!(aplicativo.app_id=='admin')">{{'{{ (aplicativo.is_active==1)?"Sim":"Não" }}'}}</span></td>
              <td class="animated" swipe-left-right=""
                  ng-click="adminAplicativos.v_apps.id=aplicativo.app_id;adminAplicativos.v_apps.name=aplicativo.name">

                <span class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalDetalhesAplicativo" ng-click="adminAplicativos.getAppsDataById(aplicativo.app_id);adminAplicativos.getAppsUsersById(aplicativo.app_id)">
                  <i class="fa fa-list-alt" data-toggle="tooltip" data-placement="auto top" title="Detalhes!"></i>
                </span>


                {#<!-- acoes para aplicações não admin -->#}

                <span ng-if="!(aplicativo.app_id=='admin')">
                  <span ng-hide="true">{{'{{apps.publica=(aplicativo.roles == "ROLE_GUEST"?1:0)}}'}}até ser rest</span>

                  <span class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalAplicativos"
                    ng-click="adminAplicativos.getAppsDataById(aplicativo.app_id)">
                    <span class="fa fa-pencil" aria-hidden="true" title="Editar" data-toggle="tooltip" data-placement="auto top"></span>
                  </span>

                  <span class="btn btn-info btn-sm" ng-click="adminAplicativos.habilitarAppsById(aplicativo.app_id, aplicativo.is_active)">
                    <i ng-show="!(aplicativo.is_active==1)" title="Habilitar" class="fa fa-lock" data-toggle="tooltip" data-placement="auto top"></i>
                    <i ng-show="(aplicativo.is_active==1)" title="Desabilitar" class="fa fa-unlock-alt" data-toggle="tooltip" data-placement="auto top"></i>
                  </span>

                  <span class="btn btn-info btn-sm" ng-click="adminAplicativos.publicarAppsById(aplicativo.app_id, aplicativo.roles)">
                    <i ng-show="(apps.publica==1)" title="Restringir acesso público" class="fa fa-users" data-toggle="tooltip" data-placement="auto top"></i>
                    <i ng-show="!(apps.publica==1)" title="Habilitar acesso público" class="fa fa-user-secret" data-toggle="tooltip" data-placement="auto top"></i>
                  </span>

                  <span class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalExcluirAplicativo">
                    <span class="fa fa-trash" aria-hidden="true" title="Excluir" data-toggle="tooltip" data-placement="auto top"></span>
                  </span>

                </span>
              </td>
            </tr>

          </tbody>
        </table>

      </div> {#<!-- /.table-responsive -->#}
    </div> {#<!-- /.box-body -->#}
    <div class="box-footer clearfix">
      <div class="box-tools pull-left" ng-hide="!adminAplicativos.pagination">
        <ul class="pagination pagination-sm inline">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li class="disabled"><a href="#">&raquo;</a></li>
        </ul>
      </div>

      <span class="pull-right">Há <b>{{'{{results.length}}'}}/{{'{{adminAplicativos.aplicativos.length}}'}}</b> aplicativos na lista atual</span>
    </div>

    <div class="text-center">
      <div class="callout callout-success" ng-show="adminAplicativos.message.success && adminAplicativos.message.text">
        <button type="button" class="close" aria-hidden="true" ng-click="adminAplicativos.message.text=mull">&times;</button>
        <i class="icon fa fa-check"></i>
        <span class="text text-default">{{ '{{adminAplicativos.message.text}}' }}</span>
      </div>
      <div class="callout callout-danger" ng-show="!adminAplicativos.message.success && adminAplicativos.message.text">
        <button type="button" class="close" aria-hidden="true" ng-click="adminAplicativos.message.text=mull">&times;</button>
        <i class="icon fa fa-ban"></i>
        <span class="text text-default">{{ '{{adminAplicativos.message.text}}' }}</span>
      </div>
    </div>

  </div> {#<!-- /.box -->#}

  <!-- Modal para confirmar exclusão de aplicativos -->
  <div class="modal" id="modalExcluirAplicativo" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Confirma exclusão da Aplicação</h3>
        </div>
        <div class="modal-body">
          <p class='lead'><mark class='bold text-danger'>{{'{{adminAplicativos.v_apps.name}}'}} ({{'{{adminAplicativos.v_apps.id}}'}})</mark></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <a href="#">
            <button type="submit" class="btn btn-danger" data-dismiss="modal"
              ng-disabled='!(adminAplicativos.v_apps.id)'
              ng-click="adminAplicativos.deleteAppsDataById(adminAplicativos.v_apps.id)">
            Excluir</button>
          </a>
        </div>
        <div>
          <small class="text text-success" ng-show="message.success">
            {{ '{{message.text}}' }}
          </small>
          <small class="text text-danger" ng-show="!message.success">
            {{ '{{message.text}}' }}
          </small>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para inclusão/edição de aplicativos -->
  <div class="modal" id="modalAplicativos" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Aplicação</h3>
        </div>
        {{ form_start(form) }}
        <div class="modal-body">
            {{ form_widget(form) }}
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal"
              ng-disabled='!(form.$valid && !form.$pristine)'
              ng-click="adminAplicativos.sendAppsDataForm()">Enviar</button>
          </div>
          {{ form_end(form) }}
          <div>
            <small class="text text-success" ng-show="message.success">
              {{ '{{message.text}}' }}
            </small>
            <small class="text text-danger" ng-show="!message.success">
              {{ '{{message.text}}' }}
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para mostrar detalhes de aplicativos modalDetalhesAplicativo -->
    <div class="modal" id="modalDetalhesAplicativo" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="pull-left header"><i class="fa fa-list-alt"></i> RAPPS: {{'{{adminAplicativos.aplicativo.data.name}}'}}</h3>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md">
                <!-- Tabbed para aplicativo -->
                <div class="nav-tabs-custom">
                  <ul class="nav nav-tabs">
                    <li class="active"><a href="" data-target="#tab_Geral" data-toggle="tab">Geral</a></li>
                    <li><a href="" data-target="#tab_Users" data-toggle="tab">Usuários</a></li>
                    {#<li><a href="" data-target="#tab_3-2" data-toggle="tab">Grupos de usuários</a></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Dropdown <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                      </ul>
                    </li>#}
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tab_Geral">
                    <div class="box-body no-padding">
                      <div class="row">
                        <div class="col-md-3">
                          <label>Id: </label>
                        </div>
                        <div class="col-md-6">
                          {{'{{adminAplicativos.aplicativo.data.app_id}}'}}
                        </div>
                      </div> <!-- /.row -->
                      <div class="row">
                        <div class="col-md-3">
                          <label>Nome:</label>
                        </div>
                        <div class="col-md-6">
                          {{'{{adminAplicativos.aplicativo.data.name}}'}}
                        </div>
                      </div> <!-- /.row -->

                      <div class="row">
                        <div class="col-md-3">
                          <label>Título:</label>
                        </div>
                        <div class="col-md-6">
                          {{'{{adminAplicativos.aplicativo.data.title }}'}}
                        </div>
                      </div> <!-- /.row -->

                      <div class="row">
                        <div class="col-md-3">
                          <label>URL de acesso:</label>
                        </div>
                        <div class="col-md-6">
                          {{'{{adminAplicativos.aplicativo.data.route }}'}}
                        </div>
                      </div> <!-- /.row -->

                      <div class="row">
                        <div class="col-md-3">
                          <label>Habilitada:</label>
                        </div>
                        <div class="col-md-6">
                          <span ng-show="(adminAplicativos.aplicativo.data.is_active==1)"><i class="fa fa-unlock-alt"></i> Sim</span>
                          <span ng-show="!(adminAplicativos.aplicativo.data.is_active==1)"><i class="fa fa-lock"></i> Não</span>
                        </div>
                      </div> <!-- /.row -->

                      <div class="row">
                        <div class="col-md-3">
                          <label>Nível de acesso:</label>
                        </div>
                        <div class="col-md-6">
                          <span ng-show="(adminAplicativos.aplicativo.data.roles=='ROLE_GUEST')"><i class="fa fa-users"></i> Público</span>
                          <span ng-show="!(adminAplicativos.aplicativo.data.roles=='ROLE_GUEST')"><i class="fa fa-user-secret"></i> Restrito</span>
                        </div>
                      </div> <!-- /.row -->

                      <div class="row">
                        <div class="col-md-3">
                          <label>Logotipo:</label>
                        </div>
                        <div class="col-md-6">
                          <span ng-show="adminAplicativos.aplicativo.data.logotype" class="fa fa-check text"> Sim (<i class="fa {{'{{adminAplicativos.aplicativo.data.logotype}}'}}"></i>)</span>
                          <span ng-show="!adminAplicativos.aplicativo.data.logotype" class="fa fa-close text text-warning"> Não</span>
                        </div>
                      </div> <!-- /.row -->

                      <div class="row">
                        <div class="col-md-3">
                            <label>Versão:</label>
                          </div>
                          <div class="col-md-6">
                            <span ng-if="!(adminAplicativos.aplicativo.data.app_id=='admin')">
                              {{'{{ adminAplicativos.aplicativo.data.version }}'}}<span ng-show="!adminAplicativos.aplicativo.data.version" class="fa fa-question text text-warning"></span>
                            </span>
                            <span ng-if="(adminAplicativos.aplicativo.data.app_id=='admin')">
                              {{ app.info_data.version }}
                            </span>
                          </div>
                      </div> <!-- /row -->
                      </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_Users">
                      <h4>Usuários da aplicação</h4>
                      <div class="row">
                        <div class="col-md-3">
                          <label>Login</label>
                        </div>
                        <div class="col-md-6">
                          <label>Nome</label>
                        </div>
                      </div> <!-- /.row -->
                      <div ng-repeat='user in adminAplicativos.aplicativos_users'>
                        <div class="row">
                          <div class="col-md-3">
                            <label>{{'{{user.username}}'}}</label>
                          </div>
                          <div class="col-md-6">
                            {{'{{user.name}}'}}
                          </div>
                        </div> <!-- /.row -->
                      </div>

                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_3-2">
                      Serão apresentados os dados de Grupos de usuários para a aplicação
                    </div>
                    <!-- /.tab-pane -->
                  </div>
                  <!-- /.tab-content -->
                </div>
                <!-- nav-tabs-custom -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- END CUSTOM TABS -->

            <div>
              <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

</ctrlApps>

{% endblock %}
