.rapps-painel_aplicativos ul,li{
  list-style:none;
}
.rapps-painel_aplicativos ul{
  overflow:hidden;
  padding:1em;
}
.rapps-painel_aplicativos ul li a{
  text-decoration:none;
  color:#000;
  display:block;
  height:20%; /*13em;*/
  width:100%; /*15em;*/
  padding:1em;
}
.rapps-painel_aplicativos ul li{
  margin:1em;
  float:left;
}

.rapps-painel_aplicativos ul li h2{
  text-decoration:underline;
}

.rapps-painel_aplicativos ul li a{
  text-decoration:none;
  display:block;
  padding:1em;
  /* Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

// zomm em Hover e Focus
.rapps-painel_aplicativos ul li a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  position:relative;
  z-index:5;
}

.rapps-painel_aplicativos ul li a:hover,ul li a:focus{
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
  position:relative;
  z-index:5;
}

.rapps-painel_aplicativos ul li a{
  text-decoration:none;
  display:block;
  padding:1em;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

// cores randmicas (ou cores para o serviço?)
.rapps-painel_aplicativos-rd-color ul li:nth-child(even) a{
  position:relative;
  top:5px;
  background: #cfc;
}
.rapps-painel_aplicativos-rd-color ul li:nth-child(3n) a{
  position:relative;
  top:-5px;
  background:#E6F0AF;
}
.rapps-painel_aplicativos-rd-color ul li:nth-child(4n) a{
  position:relative;
  top:-5px;
  background:#D7E8D5;
}
.rapps-painel_aplicativos-rd-color ul li:nth-child(5n) a{
  position:relative;
  top:-5px;
  background:#FFCD57;
}

input.ng-invalid, input.ng-pending {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}
input.ng-pristine {
  border: 1px solid #95A5A6;
}
