{#
/**
 * Template para a módulo Rapps\User
 *
 * @file
 * @author Adriano Vieira <adriano.svieira at gmail.com>
 * @package Rapps
 * @subpackage Users
 * @license @see LICENCE
 */
#}

{% extends 'Admin/views/rapps-admin.twig' %}

{% block admin %}
  <ctrlUsers ng-controller='AdminUsersController as adminUsers'>

  {% block usersInfo %}
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Usuários Registrados</h3>

        <div class="box-tools pull-right">
          <div class="has-feedback">
            <input type="text" ng-model="searchText" class="form-control input-sm" placeholder="filtrar (min 3 caracters)"
                   title="filtrar (min 3 caracters)" ng-minlength= '3'>
            <span class="fa fa-search form-control-feedback"></span>
          </div>
        </div> {#<!-- /.box-tools -->#}
      </div> {#<!-- /.box-header -->#}
    </div>
  {% endblock %}

  {% block usersList %}

    <div class="box-tools clearfix">
      <span class="pull-right">Há <b>{{'{{results.length}}'}}/{{'{{adminUsers.users.length}}'}}</b> usuários na lista atual</span>
    </div>

    <div class="box box-body table-responsive no-padding">

      <div class="box-footer clearfix">
        <div class="col-sm-1 pull-left">
          <span class="btn btn-sm btn-info btn-flat pull-left"
            data-toggle="modal"
            data-target="#modalUserPutPost" ng-click="adminUsers.user=null;action.adduser=true">
            <i class="fa fa-user-plus" title="Adiciona usuário"></i>
            Adiciona usuário
          </span>
        </div>
        <div class="col-sm-1  pull-right">
          <span class="btn btn-sm btn-default btn-flat pull-right" ng-disabled="true">
            <i class="fa fa-print" title="Imprimir"></i>
          </span>
        </div>
      </div>

      <table class="table table-responsive table-condensed table-hover no-margin"
             ng-init="adminUsers.getUsers()">
        <tr>
          <th>Login</th>
          <th>Nome</th>
          <th>Habilitado</th>
          <th>Ações</th>
        </tr>
        <tr ng-repeat="user in adminUsers.users | filter:searchText as results">
          <td>{{'{{ user.username }}'}}</td>
          <td>{{'{{ user.name }}'}}</td>
          <td><span class="label label-{{'{{ (user.is_enabled==1)?\'success\':\'warning\' }}'}}" >{{'{{ (user.is_enabled==1)?"Sim":"Não" }}'}}</span></td>
          <td>
            <span ng-click="adminUsers.getUserById(user.username)"
              class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalUserDetail">
              <i class="fa fa-list-alt" data-toggle="tooltip" data-placement="auto top" title="Detalhes!"></i>
            </span>
            <span class="btn btn-info btn-sm" ng-click="adminUsers.enableUserById(user.username, user.is_enabled)">
              <i ng-show="!(user.is_enabled==1)" title="Habilitar" class="fa fa-lock" data-toggle="tooltip" data-placement="auto top"></i>
              <i ng-show="(user.is_enabled==1)" title="Desabilitar" class="fa fa-unlock-alt" data-toggle="tooltip" data-placement="auto top"></i>
            </span>
            <span ng-click="action.adduser=false;adminUsers.getUserById(user.username)"
              class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalUserPutPost">
              <i class="fa fa-pencil" data-toggle="tooltip" data-placement="auto top" title="Editar!"></i>
            </span>
            <span ng-click="adminUsers.getUserById(user.username)"
              class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalUserDelete">
              <span class="fa fa-trash" aria-hidden="true" title="Excluir" data-toggle="tooltip" data-placement="auto top"></span>
            </span>
          </td>
        </tr>
      </table>
    </div>

  {% endblock %}

  {% block userdetail %}

    <div id="modalUserDetail" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="pull-left header"><i class="fa fa-user-circle"></i> {{'{{ adminUsers.user.name }}'}}</h3>
          </div> <!-- /.modal-header -->
          <div class="modal-body">
            <div class="tab-content">
              <div class="tab-pane active" id="tab_Geral">
                <div class="box-body no-padding">
                  <div class="row">
                    <div class="col-md-3"><label>Login: </label></div>
                    <div class="col-md-6">
                      {{'{{adminUsers.user.username}}'}}
                    </div>
                  </div> <!-- /row -->
                  <div class="row">
                    <div class="col-md-3"><label>e-mail: </label></div>
                    <div class="col-md-6">
                      {{'{{adminUsers.user.email}}'}}
                    </div>
                  </div> <!-- /row -->
                  <div class="row">
                    <div class="col-md-3"><label>Autenticação: </label></div>
                    <div class="col-md-6">
                      {{'{{adminUsers.auth_method[adminUsers.user.auth_method]}}'}}
                    </div>
                  </div> <!-- /row -->
                  <div class="row">
                    <div class="col-md-3"><label>Habilitado: </label></div>
                    <div class="col-md-6">
                      <span class="label label-{{'{{ (adminUsers.user.is_enabled==1)?\'success\':\'warning\' }}'}}" >
                        {{'{{adminUsers.user.enabled}}'}}
                      </span>
                    </div>
                  </div>  <!-- /row -->
                  <div class="row">
                    <div class="col-md-3"><label>Último login: </label></div>
                    <div class="col-md-6">
                      {{'{{adminUsers.user.last_login}}'}}
                    </div>
                  </div> <!-- /row -->
                </div> <!-- /.box-body -->
              </div> <!-- /.tab-pane -->
            </div>  <!-- /.tab-content -->
          </div>  <!-- /.modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div> <!-- /.modal-footer -->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  {% endblock %} {# end: userdetail #}

  {% block userPutPost %}

    <div id="modalUserPutPost" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="pull-left header"><i class="fa {{'{{(!action.adduser?\'fa-user\':\'fa-users\')}}'}}"></i>
            {{'{{(!action.adduser?"Atualizar dados de usuário":"Adicionar usuários")}}'}}
            </h3>
          </div> <!-- /.modal-header -->
          <form role="form" name="form"> <!-- form start -->
            <div class="modal-body">
              <div class="tab-content">
                <div class="tab-pane active" id="tab_Geral" class="form-horizontal">
                  <div class="box-body no-padding">
                    <div class="form-group">
                      <label for="inputLogin" class="col-sm-2 control-label">Login</label>
                      <div class="col-sm-10 input-group">
                        <input type="text" class="form-control" id="inputLogin" placeholder="login"
                               name="form[login]"
                               ng-model="adminUsers.user.username"
                               ng-minlength="5"
                               ng-class="{alert: adminUsers.user.username.$valid}"
                               ng-trim="true"
                               required> <!-- /input -->
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputName" class="col-sm-2 control-label">Nome</label>
                      <div class="col-sm-10 input-group">
                        <input type="text" class="form-control" id="inputName" placeholder="Nome completo"
                               name="form[name]"
                               ng-model="adminUsers.user.name"
                               ng-minlength="10"
                               ng-class="{alert: form.form[name].$valid}"
                               ng-trim="true"
                               required> <!-- /input -->
                        <!--span class="input-group-addon"><i class="fa fa-user"></i></span-->
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                      <div class="col-sm-10 input-group">
                        <input type="email" class="form-control" id="inputEmail" placeholder="email@exemplo.com.br"
                             name="form[email]"
                             ng-model="adminUsers.user.email"
                             ng-minlength="5"
                             ng-class="{alert: form.form[email].$valid}"
                             ng-trim="true"
                             required> <!-- /input -->
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">Autenticação</label>
                      <div class="col-sm-10 input-group">
                        <div class="radio">
                          <label ng-repeat="auth_method in adminUsers.auth_method">
                            <input type="radio" name="form[auth_method]" id="auth_method" value="{{'{{$index}}'}}"
                                   ng-model="adminUsers.user.auth_method"
                                   ng-class="{alert: form.form[auth_method].$valid}"
                                   required>
                            {{'{{auth_method}}'}} &nbsp;
                          </label>
                        </div>
                      </div>
                    </div>

                    {#<div class="form-group">
                      <label class="col-sm-2 control-label">Habilitar</label>
                      <div class="col-sm-10 input-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="form[is_enabled]" id="is_enabled"
                                   ng-model="adminUsers.user.is_enabled"
                                   ng-class="{alert: form.form[is_enabled].$valid}">
                          </label>
                        </div>
                      </div>
                    </div>#}

                    {#<div class="form-group">
                      <label for="user_expire" class="col-sm-2 control-label">Validade</label>
                      <div class="col-sm-10 input-group">
                        <input type="text" class="form-control" id="user_expire" placeholder="mm/dd/yyyy hh:mm"
                               name="form[user_expire]"
                               ng-model="adminUsers.user.user_expire"
                               ng-class="{alert: form.form[user_expire].$valid}"> <!-- /input -->
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                      </div>
                    </div>#}

                    <div class="text-center">
                      <div class="callout callout-success" ng-show="adminUsers.message.success && adminUsers.message.text">
                        <button type="button" class="close" aria-hidden="true" ng-click="adminUsers.message.text=null">&times;</button>
                        <i class="icon fa fa-check"></i>
                        <span class="text text-default">{{ '{{adminUsers.message.text}}' }}</span>
                      </div>
                      <div class="callout callout-danger" ng-show="!adminUsers.message.success && adminUsers.message.text">
                        <button type="button" class="close" aria-hidden="true" ng-click="adminUsers.message.text=null">&times;</button>
                        <i class="icon fa fa-ban"></i>
                        <span class="text text-default">{{ '{{adminUsers.message.text}}' }}</span>
                      </div>
                    </div>

                    <input type="hidden" class="form-control" id="user_id"
                           name="form[user_id]"
                           ng-model="adminUsers.user.id"> <!-- /input -->

                  </div> <!-- /.box-body -->
                </div> <!-- /.tab-pane -->
              </div>  <!-- /.tab-content -->
            </div>  <!-- /.modal-body -->
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-primary"
                      ng-click="adminUsers.userPutPost(action.adduser, adminUsers.user.username)"
                      ng-disabled='!(form.$valid && !form.$pristine)'>
                      Salvar</button>
            </div> <!-- /.modal-footer -->
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  {% endblock %} {# end: userPutPost #}

  {% block userDelete %}
    <div class="modal" id="modalUserDelete" tabindex="-1" role="dialog" data-backdrop="static">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Confirma exclusão de usuário</h3>
          </div>
          <div class="modal-body">
            <p class='lead'><mark class='bold text-danger'>{{'{{adminUsers.user.name}}'}} ({{'{{adminUsers.user.username}}'}})</mark></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <a href="#">
              <button type="submit" class="btn btn-danger" data-dismiss="modal"
                ng-disabled='!(adminUsers.user.username)'
                ng-click="adminUsers.deleteUser(adminUsers.user.username)">
              Excluir</button>
            </a>
          </div>
          <div>
            <small class="text text-success" ng-show="message.success">
              {{ '{{message.text}}' }}
            </small>
            <small class="text text-danger" ng-show="!message.success">
              {{ '{{message.text}}' }}
            </small>
          </div>
        </div>
      </div>
    </div>
  {% endblock%} {# end: userDelete#}

  {% block footer %}

    <div class="box box-footer clearfix" ng-hide="!adminUsers.pagination">
      <div class="box-tools pull-left" ng-hide="!adminUsers.pagination">
        <ul class="pagination pagination-sm inline">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li class="disabled"><a href="#">&raquo;</a></li>
        </ul>
      </div>
    </div>

  {% endblock %} {# end: footer #}

  </ctrlUsers>
{% endblock %}

{% block rapps_include_javascripts %}
  <!-- RApps - AdminUsers -->
  <script type="text/javascript" src="{{ app.request.basepath }}/js/rapps.admin.users.controller.js"></script>
{% endblock %}
